**/.externalToolBuilders/
**/.myeclipse/
**/.idea
**/.settings/
**/.classpath
**/.war
**/.class
**/bin/
**/classes/
**/target/
**/.classpath
**/.mymetadata
**/.project
**/.artery
**/MANIFEST.MF
**/.launch
**/.log
**/.iml
**/.project