<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<!-- define动态获取LOG_HOME, TAS为${TAS_HOME}/logs, tomcat为${CATALINA_HOME}/logs, 
		springboot为相对于jar路径的logs目录, 如需其他路径可自行配置property -->
	<!--<property name="LOG_HOME" value="/opt/thunisoft/logs"/> -->
	<define name="LOG_HOME" class="com.thunisoft.logback.LogbackHomeGetProperty" />
	<define name="IP" class="com.thunisoft.logback.LogbackIpGetProperty" />
	<define name="PORT" class="com.thunisoft.logback.LogbackPortGetProperty" />
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />

	<property name="APP_NAME" value="ygkq" />

    <!-- 控制台输出 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5level] [%-5thread] %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 正常日志输出文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/${APP_NAME}_stdout.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/${APP_NAME}_stdout.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>20</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5level] [%-5thread] %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 错误日志输出文件 -->
    <appender name="FILE-ERROR"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        <File>${LOG_HOME}/${APP_NAME}_stderr.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/${APP_NAME}_stderr.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5level] [%-5thread] %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 默认jdbc日志输出文件 -->
    <appender name="FILE-JDBC"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 集群部署日志名建议加上ip和port -->
        <File>${LOG_HOME}/${APP_NAME}_jdbc_${IP}_${PORT}.log</File>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5level] [%-5thread] [%X{request.url}] %logger{20} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${LOG_LEVEL_COMMON}</level>
        </filter>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${APP_NAME}_jdbc_%d{yyyy-MM-dd}_${IP}_${PORT}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- UIM缓存刷新日志，平常用不到，需要定位问题时再打开 -->
    <logger name="com.thunisoft.aap.uim.client.organ.ehcache" level="off" />
    <!-- jdbc相关无用输出 -->
    <logger name="jdbc.sqlonly" level="off" />
    <logger name="jdbc.connection" level="off" />
    <logger name="jdbc.audit" level="off" />
    <logger name="jdbc.resultset" level="off" />
    <logger name="jdbc.resultsettable" level="off" />
    
    <logger name="jdbc.sqltiming" level="info" additivity="true">
		<appender-ref ref="FILE-JDBC" />
	</logger>
    <logger name="com.thunisoft" additivity="false">
        <level value="info" />
        <appender-ref ref="FILE" />
        <appender-ref ref="FILE-ERROR" />
    </logger>
	<root>
		<level value="warn" />
		<appender-ref ref="stdout" />
		<appender-ref ref="FILE" />
		<appender-ref ref="FILE-ERROR" />
	</root>
</configuration>