<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:aty="http://www.thunisoft.com">
  <head>
    <meta type="aty-meta" name="javaLocation" content="com.thunisoft.ygkq.ygkq.controller.modifyPassword.ModifyPasswordController.java" th:remove="all">
    <meta type="aty-meta" name="cssLocation" content="css/modifyPassword/modifyPassword.css" th:remove="all">
    <meta type="aty-meta" name="jsLocation" content="js/modifyPassword/modifyPassword.js" th:remove="all">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" th:href="@{/webjars/artery/artery-ui.css}" />
    <link rel="stylesheet" aty:import>
    <link rel="stylesheet" th:href="@{/css/modifyPassword/modifyPassword.css}" />
    <title>zfjd</title>
    <base th:href="@{/}" />
  </head>
  <body>
    <div id="app" style="height:100%;width:100%" v-cloak>
      <aty-form :data="formData" ref="tab">
        <aty-input label="旧密码" :label-width="90" label-position="left" v-model="formData.oldPwd" required></aty-input>
        <aty-input label="新密码" :label-width="90" label-position="left" required v-model="formData.newPwd" type="password"></aty-input>
        <aty-input label="确认新密码" :label-width="90" label-position="left" v-model="formData.newPwdAgain" type="password" required></aty-input>
        <aty-button text="确认修改" class="fd-changePwd" @click="dataSubmit('tab')"></aty-button>
        <aty-button text="取消" class="fd-cancel" @click="dataCancel"></aty-button>
      </aty-form>
    </div>
  </body>
  <script type="text/javascript" th:src="@{/webjars/vue/vue.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/artery/artery-ui.min.js}"></script>
  <script type="text/javascript" aty:import></script>
  <script type="text/javascript" th:src="@{/js/modifyPassword/modifyPassword.js}"></script>
</html>