<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:aty="http://www.thunisoft.com">
  <head>
    <meta type="aty-meta" name="javaLocation" content="com.thunisoft.ygkq.ygkq.controller.RyzhController.java" th:remove="all">
    <meta type="aty-meta" name="cssLocation" content="css/ryzh.css" th:remove="all"> 
    <meta type="aty-meta" name="jsLocation" content="js/ryzh.js" th:remove="all">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" th:href="@{/webjars/artery/artery-ui.css}" />
    <link rel="stylesheet" aty:import>
    <link rel="stylesheet" th:href="@{/css/ryzh.css}" />
    <title>ygkq</title>
    <base th:href="@{/}" />
  </head>
  <body>
    <div id="app" style="height:100%;width:100%" v-cloak class="fd-app">
      <aty-panel width="800" height="900">
        <aty-panel class="fd-user">
          <aty-text text="userInfo.name" class="fd-userInfo"></aty-text>
          <aty-text text="userInfo.bh" class="fd-userInfo"></aty-text>
          <aty-text text="userInfo.corp" class="fd-userInfo"></aty-text>
          <aty-text text="userInfo.bs" class="fd-userInfo"></aty-text>
        </aty-panel>
      </aty-panel>
    </div>
  </body>
  <script type="text/javascript" th:src="@{/webjars/vue/vue.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/artery/artery-ui.min.js}"></script>
  <script type="text/javascript" aty:import></script>
  <script type="text/javascript" th:src="@{/js/ryzh.js}"></script>
</html>